<% provide( :title, 'Home') %>
<!-- AIzaSyCuRuUa9_24-NpgaogK_43cz8o3fj4MTbI -->

   

<div class="center hero-unit">
<h1>Welcome to Scenes Near Me</h1>


	<div id="sign_up_button" class="btn btn-large btn-primary">Sign Up Now!</div>
</div>
<script>
$(document).ready(function(){
	$('#sign_up_button').click(function(){
			$(location).attr('href','/sign_up');
	})	;
});
</script>



