<% provide( :title, 'Home') %>
<!-- AIzaSyCuRuUa9_24-NpgaogK_43cz8o3fj4MTbI -->

   

<div class="center hero-unit">
<h1>Welcome to Scenes Near Me</h1>


	<div id="sign_up_button" class="btn btn-large btn-primary">Sign Up Now!</div>
</div>
<script>
$(document).ready(function(){
	Parse.initialize("qPOsLuiYC9vZAPcz8yYYPdwY5jjnlO05w7mOusu4", "dwKdYKeoPC3cInAmapc2uUiorsuUfzg8kvXmYKLM");
	var currentUser = Parse.User.current();
	if(currentUser)
	{
		$(location).attr('href','/user_home');
	}
	$('#sign_up_button').click(function(){
			$(location).attr('href','/sign_up');
	})	;
});
</script>



