<footer class="footer">



<nav class="navbar navbar-default navbar-fixed-bottom">
		<small>
			Powered by  <%= link_to image_tag("matrixoft_logo7.jpg", alt: "Powered by Matrixoft.net", class: "matrixoft_logo_word"), "http://www.matrixoft.net" %>  
		</small>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact",contact_path %></li>
		</ul>
</nav>
</footer>